---
import { ROUTES } from "../constants/routes.ts";

const navLinks = [
	{
		label: "PROFILE",
		link: ROUTES.PROFILE,
	},
	{
		label: "WORKS",
		link: ROUTES.WORKS,
	},
];
---

<header class="flex items-center">
  <div class="flex h-20 p-2 filter-blur">
    <a href={ROUTES.HOME} class="flex items-center">
      <img
        src="/images/arch_linux_chan.png"
        alt="logo"
        class="w-12 rounded-2xl"
      />
      <span class="ml-2 text-xl font-bold">OJII3</span>
    </a>
  </div>
  <ul class="flex gap-1 text-sm">
    {
      navLinks.map(({ label, link }) => (
        <li>
          <a
            href={link}
            class="px-2 py-1 transition-colors hover:text-gray-500"
          >
            {label}
          </a>
        </li>
      ))
    }
  </ul>
</header>
