---
import type { ComponentSlotValue } from "astro/runtime/server/render/slot.js";

interface Props {
	label: ComponentSlotValue;
	body: ComponentSlotValue;
	href: string;
}

const { label, body, href }: Props = Astro.props;
---

<div class="p-3 border rounded-lg">
  <div class="font-bold text-gray-700 text-lg">{label}</div>
  <div class="mt-2">{body}</div>
  <a href={href} class="mt-2 text-blue-500 hover:underline">Read more</a>
</div>
