@import url("https://fonts.googleapis.com/css2?family=Squada+One&display=swap");
@import "tailwindcss";

@theme {
  --font-squada: "Squada One", sans-serif;
  --color-bg-main: #222222;
  --color-bg-header: #111111;
  --color-bg-button: #333333;
  --color-accent: #ff3300;
  --color-accent-dark: #cc2200;
  --color-text-main: #ffffff;
  --color-text-sub: #cccccc;
}

body {
  margin: 0;
  background-color: var(--color-bg-main);
  color: var(--color-text-main);
  font-family: var(--font-squada);
}
