.headline {
  font-family: cursive;
  font-weight: bold;
}

.brief {
  line-height: 2;
  letter-spacing: .1em;
  text-align: justify;
}

.card-link {
  transition: all 1s;
  border-color: #ccc;
}

.card-link:hover {
  transform: scale(1.04, 1.04);
  border-color: #0ff;
}
